h1 {
    font-size: 80px;

}

h2 {
    padding-top: 6px;
}

h3 {
    padding-top: 6px;
}

#data {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bolder;

}

#a {
    color: white;
    font-size: 22px;
    font-weight: bold;
    background-color: rgba(27, 84, 241, 0.842);
    width: 250px;
    text-align: center;
    height: 50px;
    border-radius: 30px;
    margin-left: 20px;
    padding-top: 8px;
}

#search {
    width: 20%;
    height: 40px;
    margin-left: 55%;

}

#height {
    height: 40px;
}

#center {
    text-align: center;
}

#marginR {
    margin-right: 5px;
}

#marginL {
    margin-left: 30%;
}

#font-color {
    color: rgb(255, 255, 255);
}

#card {
    background-color: rgb(242, 194, 3);
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    border-radius: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

#weight {
    width: 1000px;
    height: auto;
}

#shadow {
    -webkit-box-shadow: 10px 30px 30px rgba(0, 0, 0, .2);
    box-shadow: 10px 30px 30px rgba(0, 0, 0, .2);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    height: 500px;

}

#shadowR {
    -webkit-box-shadow: 10px 30px 30px rgba(0, 0, 0, .2);
    box-shadow: 10px 30px 30px rgba(0, 0, 0, .2);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;

}

#emailPass {
    font-size: 24px;
    font-weight: bold;
}

#bgcard {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}

#bgcolor {
    background-color: rgb(243, 243, 243);
}

#btnLogin {
    width: 300px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(5, 62, 252);
    border-radius: 30px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

#btnLogin:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(3, 255, 3);
    color: rgb(0, 0, 0);
}


#email {
    border-radius: 30px;

}

#email:focus {
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#password {
    border-radius: 30px;

}

#password:focus {
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

#name {
    border-radius: 30px;

}

#name:focus {
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

#num_position {
    border-radius: 30px;

}

#num_position:focus {
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

#position {
    border-radius: 30px;

}

#position:focus {
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

#department {
    border-radius: 30px;

}

#department:focus {
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

#task {
    border-radius: 30px;

}

#task:focus {
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

#password-confirm {
    border-radius: 30px;

}

#password-confirm:focus {
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

#brData {
    border-top-left-radius: 5px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 60px;
    width: 30%;
    text-align: left;
    height: 70px;
    padding: 15px;
    padding-right: 90px;
    background: rgb(248, 195, 19);
    box-shadow: 3px 4px 7px rgb(54, 54, 54);
    margin-bottom: 15px;

}

#brData2 {
    border-top-left-radius: 5px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 60px;
    width: 30%;
    text-align: left;
    height: 70px;
    padding: 15px;
    padding-right: 90px;
    background: rgb(248, 195, 19);
    box-shadow: 3px 4px 7px rgb(54, 54, 54);
    margin-bottom: 15px;

}

#btnRegister {
    width: 300px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(5, 62, 252);
    border-radius: 30px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;

}

#btnRegister:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(3, 255, 3);
    color: rgb(0, 0, 0);
}

label {
    font-weight: bold;
}

b {
    font-size: 17px;
    color: rgb(255, 230, 0);
    text-shadow: 1px 1px 2px rgb(42, 38, 44);
}

p {
    font-size: 16px;
}


.delete-alert {
    position: fixed;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.delete-alert.hidden {
    display: none;
}

.delete-alert button {
    margin: 10px;
}


/* .delete-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
}

@media only screen and (max-width: 1920px) {
    .delete-btn {
        font-size: 12px;
        padding: 8px 16px;
    }
} */